---
import BaseLayout from '../layouts/BaseLayout.astro'
import TimeLineElement from '../components/cv/TimeLine.astro'
---

<BaseLayout title='Resume' sideBarActiveItemID='cv'>
	<div class='mb-5'>
		<div class='text-3xl w-full font-bold'>Profile</div>
	</div>

	<div class='mb-10 text-justify'>
		Hello! I'm Harsh Gujarathi, a Software Engineer at Microsoft, specializing
		in Azure Cloud. I hold a degree in Computer Science with a minor in Data
		Science from BITS Pilani - Goa Campus. I am passionate about designing
		scalable cloud solutions and solving complex distributed system challenges.
		Currently, I am working on Azure Cloud Migrate, focusing on Kubernetes,
		distributed systems, databases, and system performance of applications
		running on on-prem servers. My interests lie in distributed training,
		federated learning, and large language models (LLMs) from tech giants like
		DeepMind and OpenAI.
	</div>

	<div class='mb-5'>
		<div class='text-3xl w-full font-bold'>Education</div>
	</div>

	<div class='time-line-container grid gap-4 mb-10'>
		<TimeLineElement
			title='Bachelor of Engineering - BE, Computer Science'
			subtitle='2020 to 2024 at Birla Institute of Technology and Science, Pilani - Goa Campus, India'
		>
			Grade: 9.2/10<br />
			Activities and societies: Merit Scholarship Awardee (5 times), ASCII - Academic
			Head, Developers Society, BITSMUN Goa, Quark Controls<br />
			Minor in Data Science
		</TimeLineElement>
		<TimeLineElement
			title='Class XII'
			subtitle='2020 at Prakash Junior College of Science, Maharashtra State Board of Secondary and Higher Secondary Education (MSBSHSE), India'
		>
			Score: 90.15%
		</TimeLineElement>
		<TimeLineElement
			title='Class X'
			subtitle='2018 at Ryan International School, ICSE, India'
		>
			Score: 96.4%
		</TimeLineElement>
	</div>

	<div class='mb-5'>
		<div class='text-3xl w-full font-bold'>Experience</div>
	</div>

	<div class='time-line-container mb-10'>
		<TimeLineElement
			title='Software Engineer'
			subtitle='Jul 2024 to Present at Microsoft, Hyderabad, Telangana, India · On-site'
		>
			<ul class='list-disc ml-6 mb-6'>
				<li>
					Working on Azure Cloud Migrate, focusing on Kubernetes, distributed
					systems, databases, and system performance of applications running on
					on-prem servers.
				</li>
				<li>
					Collaborating with cross-functional teams to design and implement
					scalable cloud solutions.
				</li>
				<li>
					Skills: Kubernetes, Distributed Systems, Databases, System
					Performance, Azure
				</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title='Member of Technical Staff Intern'
			subtitle='Jan 2024 to Jun 2024 at DevRev, Bengaluru, Karnataka, India · On-site'
		>
			<ul class='list-disc ml-6 mb-6'>
				<li>
					Worked on optimizing the Global Notifications Microservice by
					implementing Rate Limiting, Throttling, Clustering, and Summarization
					to enhance scalability and user experience.
				</li>
				<li>
					Designed and implemented a notification rate limiter to prevent spam
					and improve email delivery efficiency.
				</li>
				<li>
					Developed an advanced notification clustering mechanism reducing
					redundancy and organizing updates more effectively.
				</li>
				<li>
					Built a GenAI-powered notification summarizer leveraging OpenAI’s GPT
					models and LangChain, enabling users to process notifications
					efficiently.
				</li>
				<li>
					Enhanced reminders, tasks, and bookmarking for better usability.
				</li>
				<li>
					Took ownership of tasks, actively participated in design discussions,
					debugging, and performance optimization, and contributed to improving
					the overall notification workflow at DevRev.
				</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title='First Degree Teaching Assistant'
			subtitle='Aug 2023 to Dec 2023 at Department of CSIS BITS Pilani Goa Campus, Goa, India · On-site'
		>
			<ul class='list-disc ml-6 mb-6'>
				<li>
					Assisted in teaching CS F372 - Operating Systems and CS F342 -
					Computer Architecture.
				</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title='Software Engineer Intern'
			subtitle='May 2023 to Jul 2023 at Microsoft, Hyderabad, Telangana, India · On-site'
		>
			<ul class='list-disc ml-6 mb-6'>
				<li>
					Designed Customer Side Metrics for Monitoring Meters and Publishing
					them to Azure Monitor and Geneva Dashboard.
				</li>
				<li>
					Used OpenTelemetry and its Geneva Extension to Implement the Metrics
					designed.
				</li>
				<li>
					Actively contributed in the design decision of Azure Business
					Continuity Center (V1 product) with the Azure Core Compute Team.
				</li>
				<li>
					Skills: Programming, MSTest, Product Design, Telemetry, C#, .NET
					Framework, Communication
				</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title='First Degree Teaching Assistant'
			subtitle='Jan 2023 to May 2023 at Department of CSIS BITS Pilani Goa Campus, Goa, India · On-site'
		>
			<ul class='list-disc ml-6 mb-6'>
				<li>
					Assisted in teaching CS F211 - Data Structures and Algorithms, CS F342
					- Computer Architecture, and CS F424 - Software for Embedded Systems.
				</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title='First Degree Teaching Assistant'
			subtitle='Aug 2022 to Dec 2022 at Department of CSIS BITS Pilani Goa Campus, Goa, India · On-site'
		>
			<ul class='list-disc ml-6 mb-6'>
				<li>
					Assisted in teaching CS F213 - Object Oriented Programming and CS F214
					- Logic in Computer Science.
				</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title='Summer Intern'
			subtitle='May 2022 to Jul 2022 at LTI - Larsen & Toubro Infotech, Mumbai, Maharashtra, India · Remote'
		>
			<ul class='list-disc ml-6 mb-6'>
				<li>Worked on the DataOps for their Software Fosfor Spectra.</li>
				<li>
					Coordinated with Developers working on new features and Test
					Engineers, to build an exhaustive set of tests for the platform.
				</li>
				<li>
					Took ownership of the tasks assigned, showcased active participation
					in Test Design Meetings and Daily SyncUps.
				</li>
				<li>Skills: Programming</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title='Microsoft Engage Mentee'
			subtitle='May 2022 to Jun 2022 at Microsoft, Remote'
		>
			<ul class='list-disc ml-6 mb-6'>
				<li>
					Developed a fully functional android application that makes use of the
					Facial Recognition technology.
				</li>
				<li>
					The solution proposed was to Track Attendance in offline/online
					classes using cloud services provided by Microsoft Azure.
				</li>
				<li>
					Skills: Android Development, Flutter, Azure Face, Programming, Cloud
					Firestore, Dart, Firebase
				</li>
			</ul>
		</TimeLineElement>
	</div>

	<div class='mb-5'>
		<div class='text-3xl w-full font-bold'>Certifications</div>
	</div>

	<ul class='list-disc mx-6 mb-10 grid gap-2'>
		<li>
			<a
				href='https://www.coursera.org/account/accomplishments/certificate/EPA6WQ6SGTG8'
				target='_blank'>Advanced Learning Algorithms (Coursera)</a
			>
		</li>
		<li>
			<a
				href='https://www.coursera.org/account/accomplishments/certificate/x789qq3wuf59'
				target='_blank'>Machine Learning Specialization (Coursera)</a
			>
		</li>
		<li>
			<a
				href='https://www.coursera.org/account/accomplishments/certificate/rysbdxhqnx7z'
				target='_blank'
				>Unsupervised Learning, Recommenders, Reinforcement Learning (Coursera)</a
			>
		</li>
		<li>
			<a
				href='https://www.coursera.org/account/accomplishments/certificate/murrf7adu53'
				target='_blank'
				>Supervised Machine Learning: Regression and Classification (Coursera)</a
			>
		</li>
		<li>
			<a
				href='https://learn.nvidia.com/certificates?id=2dbbac2b743b43c0acbb9b7113fab1c0'
				target='_blank'>Fundamentals of Deep Learning (NVIDIA DLI)</a
			>
		</li>
	</ul>

	<div class='mb-5'>
		<div class='text-3xl w-full font-bold'>Undergraduate Courses</div>
	</div>

	<ul class='list-disc md:columns-2 columns-2 mx-6 mb-10'>
		<li>Operating Systems</li>
		<li>Data Structures and Algorithms</li>
		<li>Object Oriented Programming</li>
		<li>Computer Networks</li>
		<li>Database Management and Systems</li>
		<li>Computer Architecture</li>
		<li>Foundations of Data Science</li>
		<li>Deep Learning</li>
		<li>Computational Neuroscience</li>
		<li>Large Scale Distributed Systems</li>
		<li>Design and Analysis of Algorithms</li>
		<li>Microprocessor and Interfacing</li>
		<li>Quantum Computing and Information</li>
		<li>Machine Learning on Resource Constrained Devices</li>
		<li>Compiler Construction</li>
		<li>Applied Statistical Mathematics</li>
	</ul>

	<div class='mb-5'>
		<div class='text-3xl w-full font-bold'>Skills</div>
	</div>

	<ul class='list-disc md:columns-5 columns-2 mx-6'>
		<li>C#</li>
		<li>.NET Framework</li>
		<li>Java</li>
		<li>Dart</li>
		<li>Python</li>
		<li>C++</li>
		<li>Android Development</li>
		<li>Qiskit</li>
		<li>Kotlin</li>
		<li>Flutter</li>
		<li>User Interface Design</li>
		<li>Web Development</li>
		<li>JavaScript</li>
		<li>Markdown</li>
		<li>LaTeX</li>
		<li>PowerShell</li>
		<li>Go</li>
		<li>Windows Terminal</li>
		<li>AWS</li>
		<li>Azure</li>
		<li>Datadog</li>
		<li>Google Cloud</li>
		<li>NodeJS</li>
		<li>Firebase</li>
		<li>MongoDB</li>
		<li>Redis</li>
		<li>Appwrite</li>
		<li>PyTorch</li>
		<li>TensorFlow</li>
		<li>NumPy</li>
		<li>Pandas</li>
	</ul>
</BaseLayout>
