---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Harsh Gujarathi</div>
    <div class="text-3xl py-3 font-bold">
      Software Engineer and Tech Enthusiast
    </div>
    <div class="py-2">
      <text class="text-lg">
        <p>
          Hey there! I'm a Software Engineer at Microsoft, working on Azure
          Cloud. I recently graduated with a degree in Computer Science and a
          minor in Data Science from BITS Pilani, Goa Campus.
        </p>
        <br />

        <p>
          I love building and understanding systems, solving distributed systems
          challenges, and designing cloud solutions that are scalable and
          reliable. Tackling real-world problems through cloud technologies is
          something I genuinely enjoy.
        </p>
        <br />

        <p>
          I've been following Android developments since the Gingerbread days
          (Android 2.3)—the Androidify era was iconic! I enjoy building native
          Android and cross-platform apps. Lately, I've been diving into deep
          learning models and how they connect with distributed systems. I’m
          also excited to explore native iOS development soon.
        </p>
        <br />

        <p>
          Outside of work, I spend a good amount of time at the gym. It's my
          go-to for staying focused, energized, and pushing my limits both
          physically and mentally. I also love playing board and card games with
          friends—there's something thrilling about strategy and friendly
          competition. When I'm not lifting weights or gaming with friends,
          you'll probably find me exploring fictional worlds through manga or
          video games. I'm forever inspired by creators like Eiichiro Oda and
          Stan Lee for shaping these incredible universes.
        </p>
        <br />

        <p>
          <b
            >🌟 Tech help on speed dial! Feel free to reach out! 🚀 #TechSupport</b
          >
        </p>
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/harsh-gujarathi-39474a1b8/"
        target="_blank"
      >
        Let's connect!</a
      >
      <a
        href="/cv"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        My Resume
      </a>
    </div>
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
